<div class="align-layout">
	<section class="buttons disp">
		<a (click)="analisarCaso()" >
			<mat-card class="card">
			  <mat-card-title >Análisar Caso</mat-card-title>
			  <mat-card-content></mat-card-content>
			</mat-card>
		</a>
		
		<a>
			<mat-card class="card">
			  <mat-card-title>Converter Dados</mat-card-title>
			  <mat-card-content></mat-card-content>
			</mat-card>
		</a>
		
		<a>
			<mat-card class="card">
			  <mat-card-title>Juppyter Notebook</mat-card-title>
			  <mat-card-content></mat-card-content>
			</mat-card>
		</a>
		
		<a>
			<mat-card class="card">
			  <mat-card-title>Sair do Sistema</mat-card-title>
			  <mat-card-content></mat-card-content>
			</mat-card>
		</a>
	</section>

	<section class="buttons disp">
		<a>
			<mat-card class="card">
			  <mat-card-title>Carregar Dashboard</mat-card-title>
			  <mat-card-content></mat-card-content>
			</mat-card>
		</a>

		<a>
			<mat-card class="card">
			  <mat-card-title>Criar Dashboard</mat-card-title>
			  <mat-card-content></mat-card-content>
			</mat-card>
		</a>
		
		<a>
			<mat-card class="card">
			  <mat-card-title>Administrar Dados</mat-card-title>
			  <mat-card-content></mat-card-content>
			</mat-card>
		</a>

		<a>
			<mat-card class="card">
			  <mat-card-title>Carregar Dashboard</mat-card-title>
			  <mat-card-content></mat-card-content>
			</mat-card>
		</a>

	</section>
</div>